<!doctype html>
<html lang="eng-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>

        <!-- AngularJS Directives  -->
        <div ng-init="firstName='John'">
            <p>The name is <span ng-bind="firstName"></span></p>
        </div>
        <!-- AngularJS Expressions  :- written inside double braces: {{ expression }}. -->
        <p>My first expression: {{ 5 + 5 }}</p>

        <!-- AngularJS expressions bind AngularJS data to HTML the same way as the ng-bind directive.  -->
        <p>Name : <input type="text" ng-model="name1"></p>
        <p>{{name1}}</p>

        <!-- AngularJS Applications -->
        <div ng-app="myApp" ng-controller="myCtrl">

            First Name : <input type="text" ng-model="firstName"><br>

            Last Name : <input type="text" ng-model="lastName"><br>

            Full Name: {{firstName +" " + lastName}}
            <script>
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope) {
                    $scope.firstName = "Rakesh";
                    $scope.lastName = "Singh";
                })
            </script>
        </div>

    </div>
    <div ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>
</body>

</html>