<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Animations</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

<style>
    div {
        transition: all linear 0.5s;
        background-color: lightblue;
        height: 100px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    .ng-hide {
        height: 0;
        width: 0;
        background-color: transparent;
        top: -200px;
        left: 200px;
    }

    /* css transition */
    #cssTrans {
        transition: all linear 0.5s;
        background-color: lightblue;
        height: 100px;
    }

    .ng-hide {
        height: 0;
    }
</style>

<body ng-app="ngAnimate">
    <h1>AngularJS Animations :-</h1>
    <p>AngularJS provides animated transitions, with help from CSS.</p>

    <h3>1. What is an Animation?</h3>
    <p>An animation is when the transformation of an HTML element gives you an illusion of motion.</p>

    <h3>Hide the Div: <input type="checkbox" ng-model="myCheck"></h3>
    <div ng-hide="myCheck"></div>

    <h3>2. Or if your application has a name, add ngAnimate as a dependency in your application module:</h3>

    <body ng-app="myApp">

        <!-- <h1>Hide the DIV: <input type="checkbox" ng-model="myCheck"></h1>
        
        <div ng-hide="myCheck"></div> -->

        <h3>3. CSS Transitions :-</h3>
        <p>CSS transitions allows you to change CSS property values smoothly, from one value to another, over a given
            duration:</p>

        <h1>Hide the DIV: <input type="checkbox" ng-model="myCheck1"></h1>

        <div ng-hide="myCheck1" id="cssTrans"></div>
        <!-- <script>
            var app = angular.module('myApp', ['ngAnimate']);
        </script> -->
    </body>



</html>