<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Shopping List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- bootstrap 3 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>

<body>

    <div ng-app="myShoppingList" class="container jumbotron" style="width:80%">
        <h3 class="text-info bg-success">My Shopping List :-</h3>

        <div ng-controller="myCtrl">
            <p><input type="text" ng-model="test" class="form-control  " placeholder="search item.."
                    aria-describedby="basic-addon2"></p>
            <ul class="list-group">
                <li ng-repeat="x in products |filter:test" class="list-group-item ">{{x | myFormat}}
                    <span ng-click="removeItem($index)"> <span class="glyphicon glyphicon-remove-circle"
                            aria-hidden="true"></span> </span>
                </li>
            </ul>

            <!-- adding items  -->

            <div class="input-group ">
                <input type="text" class="form-control  " placeholder="Write items name here.."
                    aria-describedby="basic-addon2" ng-model="addMe">
                <span class="input-group-btn">
                    <button class=" btn btn-success " id="basic-addon2" ng-click="addItem()">Add
                        Items</button>
                </span>
            </div>



            <!-- error handling -->
            <p class="text-danger">{{errortext}}</p>
        </div>

    </div>

    <script>
        var app = angular.module("myShoppingList", []);
        app.controller("myCtrl", function ($scope) {
            $scope.products = ["Milk", "Bread", "cheese"];

            //adding items
            $scope.addItem = function () {
                $scope.errortext = "";
                if (!$scope.addMe) {
                    return;
                }
                if ($scope.products.indexOf($scope.addMe) == -1) {
                    $scope.products.push($scope.addMe);
                }
                else {
                    $scope.errortext = "The item is already in your shopping list."
                }

            }
            //remove item
            $scope.removeItem = function (x) {
                $scope.products.splice(x, 1);
            }
        });

        app.filter('myFormat', function () {
            return function (x) {
                var i, c, txt = "";
                for (i = 0; i < x.length; i++) {
                    c = x[i];
                    if (i / 1 == 0) {
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
                return txt;
            };
        });
    </script>
</body>

</html>