<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS Controllers :-</h1>
    <p>AngularJS controllers control the data of AngularJS applications.</p>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            First Name : <input type="text" ng-model="firstName">
            Last Name : <input type="text" ng-model="lastName">
            <br>
            Full Name : {{firstName+" "+lastName}}
        </div>

        <h3>Controller Methods :-</h3>
        <div ng-app="myApp" ng-controller="personCtrl">

            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{fullName()}}
        </div>

        <h3>Controllers In External Files:-</h3>
        <div ng-app="myApp" ng-controller="namesCtrl">

            <ul>
                <li ng-repeat="x in names">
                    {{ x.name + ', ' + x.country }}
                </li>
            </ul>

        </div>
        <script src="externalCtrl.js"></script>
    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "Rakesh";
            $scope.lastName = "Singh";
        });

        // Controller Methods :-
        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "Ramesh";
            $scope.lastName = "Singh";
            $scope.fullName = function () {
                return $scope.firstName + " " + $scope.lastName;
            };
        });
    </script>

</body>


</html>