<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Data Binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS Data Binding</h1>
    <p>Data binding in AngularJS is the synchronization between the model and the view.</p>

    <h3>HTML View</h3>
    <p>i. The HTML container where the AngularJS application is displayed, is called the view.</p>
    <p>ii. The view has access to the model, and there are several ways of displaying model data in the view.</p>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p ng-bind="firstname"></p>

        <!-- You can also use double braces {{ }} to display content from the model: -->
        <p>First Name: {{firstname}}</p>

        <h3>The ng-model Directive:-</h3>
        <p>Use the ng-model directive to bind data from the model to the view on HTML controls (input, select, textarea)
        </p>
        <input ng-model="firstname">

        <h3>Two-way Binding:-</h3>
        <p>When data in the model changes, the view reflects the change, and when data in the view changes, the model is
            updated as well. This happens immediately and automatically, which makes sure that the model and the view is
            updated at all times.</p>

        Name: <input ng-model="firstname">
        <h3>{{firstname}}</h3>

        <h3>AngularJS Controller :-</h3>
        <h1 ng-click="changeName()">{{Firstname}}</h1>
        <b>Click on the header to run the "changeName" function</b>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstname = "Rakesh";
            $scope.lastname = "Singh";
            //for name change
            $scope.Firstname = "Rakesh";
            $scope.changeName = function () {
                $scope.Firstname = 'Rajesh';
            }

        });
    </script>

</body>

</html>