<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Directives</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h3>AngularJS Directives :-</h3>
    <p>i. The ng-app directive initializes an AngularJS application.</p>
    <p>ii. The ng-init directive initializes application data.</p>
    <p>iii. The ng-model directive binds the value of HTML controls (input, select, textarea) to application data.</p>

    <div ng-app="" ng-init="firstName='Rakesh'">
        <p>Name : <input type="text" ng-model="firstName"></p>
        <p>You wrote : {{firstName}}</p>

        <div ng-init="quantity=5;price=1">
            <h4>Cost Calculator</h4>
            Quantity: <input type="text" ng-model="quantity">
            Price: <input type="text" ng-model="price">

            <p><b>Total Price in dollar: </b> {{quantity*price}}</p>
        </div>

        <h3>Repeating HTML Elements :-</h3>
        <div ng-init="names=['Rakesh', 'Mohit', 'Rajesh']">
            <ul>
                <li ng-repeat="x in names">
                    {{x}}
                </li>
            </ul>
        </div>

        <h4>The ng-repeat directive used on an array of objects:</h4>
        <div ng-init="name=[
        {name:'Rakesh', country:India},
        {name:'John', country:America},
        {name:'Kai', country:Denmark}]">

            <ul>
                <li ng-repeat="x in name">
                    {{x.name+" "+x.country}}
                </li>
            </ul>
        </div>

    </div>

    <h3>Create New Directives :-</h3>

    <body ng-app="myApp">
        <w3-test-directive></w3-test-directive>
        <div w3-test-directive></div>
        <script>
            var app = angular.module("myApp", []);
            app.directive("w3TestDirective", function () {
                return {
                    restrict: "A",
                    template: "<h2>Made by a directive!</h2>"
                };
            });


        </script>
    </body>

</body>

</html>