<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS HTML DOM</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <h1>1. AngularJS HTML DOM :-</h1>
    <p>AngularJS has directives for binding application data to the attributes of HTML DOM elements.</p>

    <div ng-app="">
        <h3>1. The ng-disabled Directive :-</h3>
        <p>The ng-disabled directive binds AngularJS application data to the disabled attribute of HTML elements.</p>
        <div ng-init="mySwitch=true">
            <p>
                <button ng-disabled="mySwitch">Click Me!</button>
            </p>
            <p>
                <input type="checkbox" ng-model="mySwitch" />Button
            </p>
            <p>
                {{ mySwitch }}
            </p>
        </div>

        <h3>2. The ng-show Directive :-</h3>
        <p>The ng-show directive shows or hides an HTML element.</p>

        <p ng-show="true">I am Visible.</p>
        <p ng-show="false">I am not visible</p>

        <h3>You can use any expression that evaluates to true or false:</h3>
        <div ng-init="hour=13">
            <p ng-show="hour > 12">I am visible.</p>
        </div>

        <h3>3. The ng-hide Directive :-</h3>
        <p>The ng-hide directive hides or shows an HTML element.</p>
        <p ng-hide="true">I am not visible.</p>

        <p ng-hide="false">I am visible.</p>

    </div>

</body>

</html>