<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Events</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS Events :-</h1>
    <p>AngularJS has its own HTML events directives.</p>

    <div ng-app="myApp">
        <h3>1. Mouse Events :-</h3>
        <p>Mouse events occur when the cursor moves over an element, in this order:</p>
        <div ng-controller="myCtrl">
            <h3>ng-mousemove:-</h3>
            <h3 ng-mousemove="count=count+1">Mouse Over Me! (mousemove)</h3>
            <h3>{{count}}</h3>

            <h3>The ng-click Directive:-</h3>
            <button ng-click="count = count + 1">Click me!</button>

            <p>{{ count }}</p>
        </div>
        <h3>You can also refer a function:-</h3>
        <div ng-controller="funCtrl">
            <button ng-click="myFunction()">Click me!</button>
            <p>{{count}}</p>
        </div>

        <h3>2. Toggle, True/False :-</h3>
        <p>If you want to show a section of HTML code when a button is clicked, and hide when the button is clicked
            again, like a dropdown menu, make the button behave like a toggle switch:</p>
        <div ng-controller="toggleCtrl">
            <button ng-click="myFunc()">Click Me!</button>
            <div ng-show="showMe">
                <h1>Menu :</h1>
                <div>Pizza</div>
                <div>Pasta</div>
                <div>Maggie</div>
            </div>

        </div>

        <h3>3. $event Object :-</h3>
        <p>You can pass the $event object as an argument when calling the function.</p>
        <div ng-controller="eventCtrl">
            <h1 ng-mousemove="myFunc($event)">Mouse Over Me !</h1>
            <p>Coordinates: {{x + ', ' + y}}</p>
        </div>


    </div>

    <script>
        var app = angular.module('myApp', []);
        //ng-mousemove
        app.controller('myCtrl', function ($scope) {
            $scope.count = 0;
        });

        //function in ng-click
        app.controller('funCtrl', function ($scope) {
            $scope.count = 0;
            $scope.myFunction = function () {
                $scope.count++;
            }
        });

        //Toggle
        app.controller('toggleCtrl', function ($scope) {
            $scope.showMe = false;
            $scope.myFunc = function () {
                $scope.showMe = !$scope.showMe;
            }
        });

        //event
        app.controller("eventCtrl", function ($scope) {
            $scope.myFunc = function (myE) {
                $scope.x = myE.clientX;
                $scope.y = myE.clientY;
            }
        })
    </script>
</body>

</html>