<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <div ng-app="">
        <p>My first expression: {{5+5}}</p>
        <!--10-->

        <div ng-init="myCol='lightblue'">
            <input style="background-color:{{myCol}}" ng-model="myCol">
        </div>

        <!-- AngularJS Numbers -->
        <div ng-init="quantity=1;cost=5">
            <p>Total in dollar: {{quantity * cost}}</p>
        </div>
        <!-- Same example using ng-bind: -->
        <div ng-init="quantity=1;cost=5">
            <p>Total in dollar: <span ng-bind="quantity * cost"></span></p>
        </div>

        <!-- AngularJS Strings -->
        <div ng-init="firstName='Rakesh';lastName='Singh'">
            <p>The name is {{firstName +" "+lastName}}</p>
        </div>

        <!-- Same example using ng-bind: -->
        <div ng-init="firstName='Rakesh';lastName='Singh'">
            <p>The name is <span ng-bind="firstName+' '+lastName"></span></p>
        </div>

        <!-- AngularJS Objects -->
        <div ng-init="person={firstName:'Aditya',lastName:'Sharma'}">
            <p>The name is {{person.lastName}}</p>
        </div>
        <!-- Same example using ng-bind: -->
        <div ng-init="persons={firstname:'John',lastname:'Doe'}">

            <p>The name is <span ng-bind="persons.lastname"></span></p>
        </div>

        <!-- AngularJS Arrays -->
        <div ng-init="points=[1,21,32,4]">
            <p>The third element is {{points[2]}}</p>
        </div>

        <!-- Same example using ng-bind: -->
        <div ng-init="point=[9,66,43,21,75]">
            <p>The third element is <span ng-bind="point[2]"></span></p>
        </div>
    </div>


    <p>1.If you remove the ng-app directive, HTML will display the expression as it is, without solving it:</p>
    <p>My First expression: {{5+5}}</p> <!-- {{5+5}} -->


</body>

</html>