<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Filters</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp">
    <h1>AngularJS Filters:-</h1>
    <p>Filters can be added in AngularJS to format data.</p>

    <h3>Adding Filters to Expressions :-</h3>
    <p>Filters can be added to expressions by using the pipe character |, followed by a filter.</p>

    <h3>i. The uppercase filter format strings to upper case:</h3>
    <div ng-controller="personCtrl">
        <p>first Name(uppercase) :{{firstName | uppercase}}</p>

        <h3>ii. The lowercase filter format strings to lower case:-</h3>
        <p>last Name(lowercase) : {{ lastName | lowercase }}</p>

    </div>

    <h3>iii. Adding Filters to Directives :-</h3>
    <p>Filters are added to directives, like ng-repeat, by using the pipe character |, followed by a filter:</p>
    <div ng-controller="namesCtrl">

        <p>Looping with objects:</p>
        <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>

    <h3>iv. The currency Filter:-</h3>
    <p>The currency filter formats a number as currency:</p>
    <div ng-controller="costCtrl">
        <h3>Price: {{price|currency}}</h3>
    </div>

    <h3>v. The filter Filter:-</h3>
    <p>1. The filter filter selects a subset of an array.</p>
    <p>2. The filter filter can only be used on arrays, and it returns an array containing only the matching items.</p>
    <div ng-controller="nameCtrl">
        <ul>
            <!-- displays only the names containing the letter "i". -->
            <li ng-repeat="x in names | filter: 'i'">{{x}}</li>
        </ul>
    </div>

    <h3>vi. Filter an Array Based on User Input :-</h3>
    <p>1. By setting the ng-model directive on an input field, we can use the value of the input field as an expression
        in a filter.</p>
    <div ng-controller="nameCtrl">
        <p><b>Type a letter in the input field:</b></p>
        <p><input type="text" ng-model="test"></p>

        <ul>
            <li ng-repeat="x in names | filter:test">{{x}}</li>
        </ul>
    </div>

    <h3>vii. Sort an Array Based on User Input:-</h3>
    <div ng-controller="namesCtrl">
        <p><b>Click the table headers to change the sort order::</b></p>
        <table border="1" width="50%">
            <tr>
                <th ng-click="orderByMe('name')">Name</th>
                <th ng-click="orderByMe('country')">Country</th>
            </tr>
            <tr ng-repeat="x in names |orderBy:myOrderBy">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>
    </div>

    <h3>viii. Custom Filters :-</h3>
    <p>You can make your own filters by registering a new filter factory function with your module:</p>
    <div ng-controller="customCtrl">
        <ul>
            <li ng-repeat="x in names">
                {{x | myFormat}}
            </li>
        </ul>
    </div>
    <!-- logic -->


    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function ($scope) {
            $scope.firstName = "Rakesh",
                $scope.lastName = "Singh"
        });

        // Adding Filters to Directives :-
        //Sort an Array Based on User Input
        app.controller('namesCtrl', function ($scope) {
            $scope.names = [
                { name: 'Jani', country: 'Norway' },
                { name: 'Carl', country: 'Sweden' },
                { name: 'Margareth', country: 'England' },
                { name: 'Hege', country: 'Norway' },
                { name: 'Joe', country: 'Denmark' },
                { name: 'Gustav', country: 'Sweden' },
                { name: 'Birgit', country: 'Denmark' },
                { name: 'Mary', country: 'England' },
                { name: 'Kai', country: 'Norway' }
            ]
            //Sort an Array Based on User Input
            $scope.orderByMe = function (x) {
                $scope.myOrderBy = x;
            }
        });

        //The currency Filter:-
        app.controller('costCtrl', function ($scope) {
            $scope.price = 58;
        });

        // The filter Filter
        // Filter an Array Based on User Input :-
        app.controller('nameCtrl', function ($scope) {
            $scope.names = [
                'Jani',
                'Carl',
                'Margareth',
                'Hege',
                'Joe',
                'Gustav',
                'Birgit',
                'Mary',
                'Kai'
            ];
        });

        //Custom Filters :-
        app.filter('myFormat', function () {
            return function (x) {
                var i, c, txt = "";
                for (i = 0; i < x.length; i++) {
                    c = x[i];
                    if (i % 2 == 0) {
                        c = c.toUpperCase();
                    }
                    txt += c;
                }
                return txt;
            };
        });

        app.controller('customCtrl', function ($scope) {
            $scope.names = [
                'Jani',
                'Carl',
                'Margareth',
                'Hege',
                'Joe',
                'Gustav',
                'Birgit',
                'Mary',
                'Kai'
            ];
        });

    </script>
</body>


</html>