<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Form Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<style>
    input.ng-invalid {
        background-color: pink;
    }

    input.ng-valid {
        background-color: lightgreen;
    }

    /* style form */
    form.ng-pristine {
        background-color: lightblue;
    }

    form.ng-dirty {
        background-color: rgb(184, 62, 82);
    }
</style>

<body ng-app="">
    <h1>AngularJS Form Validation :-</h1>
    <p>AngularJS can validate input data.</p>

    <h3>1. Required :-</h3>
    <p>Use the HTML5 attribute required to specify that the input field must be filled out:</p>
    <b>Write something in the input field:-</b>
    <form name="myForm">
        <input name="myInput" ng-model="myInput" required>
    </form>
    <h3>The input's valid state is : {{myForm.myInput.$valid}}</h3>

    <h3>2. E-mail :-Use the HTML5 type email to specify that the value must be an e-mail:</h3>
    <form name="myFormEmail">
        E-mail: <input type="email" name="myInpEmail" ng-model="myInpEmail">
    </form>
    <h3>The input valid state is : {{myFormEmail.myInpEmail.$valid}}</h3>

    <p>Note that the state of the input field is "true" before you start writing in it, even if it does not contain an
        e-mail address.</p>

    <h3>3. Form State and Input State :-</h3>
    <p>AngularJS is constantly updating the state of both the form and the input fields.</p>

    <form name="myFormState">
        <p><b>Try leaving the first input field blank:</b></p>
        <p>
            Name : <input name="myName" ng-model="myName" required>
            <span ng-show="myFormState.myName.$touched &&myFormState.myName.$invalid">The Name is required</span>
        </p>

        <p>Address : <input name="myAdress" ng-model="myAddress"></p>
    </form>

    <h3>4. CSS Classes :-</h3>
    <h4>i. style input field</h4>
    <form name="myForm1">
        <input name="myName1" ng-model="myName1" required>
    </form>

    <h4>ii. style form</h4>
    <form name="myForm2">
        <p>Try writing in the input field:</p>

        <input name="myName2" ng-model="myName2" required>
    </form>

    <h3>5. Custom Validation :-</h3>
    <div ng-app="myApp">
        <p>Try writing in the input field:</p>

        <form name="myFormC">
            <input name="myInputC" ng-model="myInputC" required my-directive>
        </form>

        <p>The input's valid state is:</p>
        <h1>{{myFormC.myInputC.$valid}}</h1>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.directive('myDirective', function () {
            return {
                require: 'ngModel',
                link: function (scope, element, attr, mCtrl) {
                    function myValidation(value) {
                        if (value.indexOf("e") > -1) {
                            mCtrl.$setValidity('charE', true);
                        } else {
                            mCtrl.$setValidity('charE', false);
                        }
                        return value;
                    }
                    mCtrl.$parsers.push(myValidation);
                }
            };
        });
    </script>
</body>

</html>