<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Forms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS Forms :-</h1>
    <p>Forms in AngularJS provides data-binding and validation of input controls.</p>

    <h3>1. Input Controls:- Input controls are the HTML input elements:</h3>
    <p>i. input elements</p>
    <p>ii. select elements</p>
    <p>iii. button element</p>
    <p>iv. textarea elements</p>

    <h3>2. Data-binding :-</h3>
    <p>Input controls provides data-binding by using the ng-model directive.</p>
    <p>The ng-model directive binds the input controller to the rest of your application.</p>

    <div ng-app="myApp">
        <div ng-controller="formCtrl">
            <form>
                First Name: <input type="text" ng-model="firstname">
                <p>You entered : {{firstname}}</p>
            </form>
        </div>

        <h3>3. Checkbox :-</h3>
        <p>A checkbox has the value true or false. Apply the ng-model directive to a checkbox, and use its value in your
            application.</p>
        <div>
            <form>
                Check to show a header:
                <input type="checkbox" ng-model="myVar">
            </form>
            <h3 ng-show="myVar">My header</h3>
        </div>

        <h3>4. Radiobuttons :-</h3>
        <p>Bind radio buttons to your application with the ng-model directive.</p>
        <p>Radio buttons with the same ng-model can have different values, but only the selected one will be used.</p>
        <div>
            <form>
                Pick a Topic:
                <input type="radio" ng-model="myVar" value="dogs">Dogs

                <input type="radio" ng-model="myVar" value="tuts">Tutorials

                <input type="radio" ng-model="myVar" value="cars">Cars
            </form>

            <div ng-switch="myVar">
                <div ng-switch-when="dogs">
                    <h3>Dogs</h3>
                    <p>Welcome to a world of dogs.</p>
                </div>

                <div ng-switch-when="tuts">
                    <h3>Tutorials</h3>
                    <p>Learn from examples.</p>
                </div>

                <div ng-switch-when="cars">
                    <h3>Cars</h3>
                    <p>Read about cars.</p>
                </div>
            </div>
        </div>

        <h3>5. Selectbox :-</h3>
        <p>The property defined in the ng-model attribute will have the value of the selected option in the selectbox.
        </p>
        <div>
            <form>
                Select a Topic :-
                <select ng-model="mySel">
                    <option value="">
                    <option value="dogs">Dogs
                    <option value="cats">cats
                    <option value="cows">Cows
                </select>
            </form>
            <div ng-switch="mySel">
                <div ng-switch-when="dogs">
                    <h3>Dogs</h3>
                    <p>Dogs are very loyal towars its owner</p>
                </div>
                <div ng-switch-when="cats">
                    <h3>Cats</h3>
                    <p>Cats are very cute and like to have milk</p>
                </div>
                <div ng-switch-when="cows">
                    <h3>Cows</h3>
                    <p> Cows milk is good for health</p>
                </div>
            </div>
        </div>


        <h3>Application Code</h3>
        <div ng-controller="formsCtrl">
            <form novalidate>
                First Name : <input type="text" ng-model="user.firstName"><br><br>
                Last Name : <input type="text" ng-model="user.lastName"><br><br>
                <button ng-click="reset()">Reset</button>
            </form>

            <p>form = {{user}}</p>
            <p>Master = {{master}}</p>
        </div>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function ($scope) {
            $scope.firstname = "Rakesh";
        })

        //application code:-
        app.controller('formsCtrl', function ($scope) {
            $scope.master = { firstName: "Rakesh", lastName: "Singh" };
            $scope.reset = function () {
                $scope.user =
                    angular.copy($scope.master);
            };
            $scope.reset();
        })
    </script>
</body>

</html>