<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS AJAX - $http</title>
</head>

<body ng-app="myApp">
    <h1>AngularJS AJAX - $http :-</h1>
    <p>i. $http is an AngularJS service for reading data from remote servers.</p>
    <p>ii. The AngularJS $http service makes a request to the server, and returns a response.</p>

    <div ng-controller="myCtrl">

        <p>Today's welcome message is:</p>

        <h3>{{myWelcome}}</h3>
    </div>

    <h3>2. Methods :-</h3>
    <p>There are several shortcut methods in http:-</p>
    <p>i. .get() </p>
    <p>ii. .delete()</p>
    <p>iii. .head()</p>
    <p>iv. .jsonp()</p>
    <p>v. .patch()</p>
    <p>vi. .post()</p>
    <p>vii. .put()</p>
    <div ng-controller="MyCtrl">
        <p><b>Today's welcome message is: {{myWelcome}}</b></p>
    </div>

    <h3>3. Properties :-</h3>
    <p>The response from the server is an object with these properties:</p>
    <p>i. .config the object used to generate the request.</p>
    <p>ii. .data a string, or an object, carrying the response from the server.</p>
    <p>iii. .headers a function to use to get header information.</p>
    <p>iv. .status a number defining the HTTP status.</p>
    <p>v. .statusText a string defining the HTTP status.</p>
    <div ng-app="myApp" ng-controller="myCtrl1">

        <p>Data : {{content}}</p>
        <p>Status : {{statuscode}}</p>
        <p>StatusText : {{statustext}}</p>

    </div>

    <h3>4. To handle errors, add one more functions to the .then method:-</h3>
    <div ng-controller="my1Ctrl">

        <h1>{{content}}</h1>

    </div>

    <h3>5. JSON</h3>
    <p>The data you get from the response is expected to be in JSON format.</p>
    <p>JSON is a great way of transporting data, and it is easy to use within AngularJS, or any other JavaScript.</p>

    <p>Example: On the server we have a file that returns a JSON object containing 15 customers, all wrapped in array
        called records.</p>

    <div ng-controller="customersCtrl">

        <ul>
            <li ng-repeat="x in myData">
                {{ x.Name + ', ' + x.Country }}
            </li>
        </ul>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("welcome.htm")
                .then(function (response) {
                    $scope.myWelcome = response.data;
                });
        });


        app.controller('MyCtrl', function ($scope, $http) {
            $http({
                method: "GET",
                url: "welcome.htm"
            }).then(function mySuccess(response) {
                $scope.myWelcome = response.data;
            }, function myError(response) {
                $scope.myWelcome = response.statusText;
            });
        });

        app.controller('myCtrl1', function ($scope, $http) {
            $http.get("welcome.htm")
                .then(function (response) {
                    $scope.content = response.data;
                    $scope.statuscode = response.status;
                    $scope.statustext = response.statusText;
                });
        });

        //4. handle error:-
        app.controller('my1Ctrl', function ($scope, $http) {
            $http.get("wrongfilename.htm")
                .then(function (response) {
                    $scope.content = response.data;
                }, function (response) {
                    $scope.content = "Something went wrong";
                });
        });

        //5. JSON

        app.controller('customersCtrl', function ($scope, $http) {
            $http.get("http://localhost/php/customers.php").then(function (response) {
                $scope.myData = response.data.records;
            });
        });
    </script>
</body>

</html>