<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<style>
    input.ng-invalid {
        background-color: rgb(252, 115, 115);
    }
</style>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        Name: <input ng-model="name">

        <h3>Two-Way Binding:-</h3>
        <p> If the user changes the value inside the input field, the AngularJS property will also change its value:</p>
        <h4>You entered: {{name}}</h4>

        <h3>Validate User Input:- </h3>
        <p>The ng-model directive can provide type validation for application data (number, e-mail, required):</p>
        <form ng-app="" name="myForm">
            Email:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
        </form>

        <h3>Application Status:-</h3>
        <p>The ng-model directive can provide status for application data (valid, dirty, touched, error):</p>

        <form ng-app="" name="myform" ng-init="myTest='post@myweb.com'">
            Email:
            <input type="email" name="myAdress" ng-model="myText" required>
            <h1>Status</h1>
            {{myform.myAdress.$valid}}
            {{myform.myAdress.$dirty}}
            {{myform.myAdress.$touched}}
        </form>

        <h3>CSS Classes:-</h3>
        The ng-model directive provides CSS classes for HTML elements, depending on their status:
        <form ng-app="" name="myForm">
            Enter your name:
            <input name="myName" ng-model="myText" required>
        </form>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "Rakesh Singh";
        })
    </script>




</body>

</html>