<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Modules</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <p>i. An AngularJS module defines an application.</p>
    <p>ii. The module is a container for the different parts of an application.</p>
    <p>iii. The module is a container for the application controllers.</p>
    <p>iv. Controllers always belong to a module.</p>

    <!-- Creating a Module
    <div ng-app="myApp">...</div>

    <script>

        var app = angular.module("myApp", []);

    </script> -->

    <!-- Adding a Controller -->
    <div ng-app="myApp" ng-controller="myCtrl" w3-test-directive>
        {{firstName + " " + lastName}}

    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.firstName = "Rakesh";
            $scope.lastName = "Singh";
        });

        //  Adding a Directive
        app.directive("w3TestDirective", function () {
            return {
                template: "I was made in a directive constructor!"
            };
        });
    </script>






</body>

</html>