<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Scope
    </title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <h1>AngularJS Scope :-</h1>
    <p>The scope is the binding part between the HTML (view) and the JavaScript (controller).</p>

    <h3>How to Use the Scope?</h3>
    <p>When you make a controller in AngularJS, you pass the $scope object as an argument:</p>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1>{{carname}}</h1>

        <h3>When dealing with the ng-repeat directive, each repetition has access to the current repetition object:</h3>
        <ul>
            <li ng-repeat="x in names">{{x}}</li>
        </ul>
    </div>

    <h3>Root Scope :-</h3>

    <body ng-app="myApp">
        <p>the rootScope's favorite color:</p>
        <h1>{{color}}</h1>

        <div ng-controller="myCtrl">
            <p>The scope of the controller's favourite color:</p>
            <h1>{{color}}</h1>
        </div>
        <p>The rootScope's favourite color is still:</p>
        <h1>{{color}}</h1>
    </body>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.carname = "volvo";
        });

        app.controller('myCtrl', function ($scope) {
            $scope.names = ["Rakesh", "Tobias", "Vikky"]
        })

        // rootscope
        app.run(function ($rootScope) {
            $rootScope.color = 'blue';
        });
        app.controller('myCtrl', function ($scope) {
            $scope.color = "red";
        });
    </script>
</body>

</html>