<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Select Boxes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS Select Boxes :-</h1>
    <p>AngularJS lets you create dropdown lists based on items in an array, or an object.</p>

    <h3>1. Creating a Select Box Using ng-options:-</h3>
    <p>If you want to create a dropdown list, based on an object or an array in AngularJS, you should use the ng-options
        directive:</p>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
            <h3>Select your fav language:-</h3>
            <select ng-model="selectedName" ng-options="x for x in names"></select>
        </div>

        <h3>2. ng-options vs ng-repeat :-</h3>
        <p>i. You can also use the ng-repeat directive to make the same dropdown list:</p>

        <p>ii. the ng-repeat directive repeats a block of HTML code for each item in an array, it can be used to create
            options in a dropdown list, but the ng-options directive was made especially for filling a dropdown list
            with options.</p>

        <div ng-controller="myCtrl">
            <select>
                <option ng-repeat="x in names">{{x}}</option>
            </select>
        </div>

        <h3>3. What Do I Use?</h3>
        <p>You can use both the ng-repeat directive and the ng-options directive:</p>

        <div ng-controller="myCars">
            <h3>i. Using ng-repeat :- When you use the ng-repeat directive to create dropdown lists, the selected value
                must
                be a string.</h3>
            <h3>select a car :-</h3>
            <select ng-model="selectedCars">
                <option ng-repeat="x in cars" value="{{x.model}}">
                    {{x.model}}
                </option>
            </select>
            <h3>selected cars: {{selectedCars}} </h3>

            <h3>ii. When using the value as an object, use ng-value insead of value:</h3>
            <select ng-model="selectCar">
                <option ng-repeat="x in cars" ng-value="{{x}}">{{x.model}}</option>
            </select>

            <h1>You selected a {{selectCar.color}} {{selectCar.model}}</h1>
        </div>

        <div ng-controller="myCars">
            <h3>iii. Using ng-options :-</h3>
            <p>When you use the ng-options directive to create dropdown lists, the selected value can be an object.</p>

            <select ng-model="sCar" ng-options="x.model for x in cars">
            </select>

            <h3>You have selected: {{sCar.model}} and its color is: {{sCar.color}}</h3>
        </div>


        <h3>4. The Data Source as an Object :-</h3>
        <p>In the previous examples the data source was an array, but we can also use an object.</p>
        <div ng-controller="objCtrl">
            <p>Using an object as the data source, x represents the key, and y represents the value:</p>
            <h3>Select a car:</h3>

            <select ng-model="objectData" ng-options="x for (x, y) in cars"></select>
            <h3>You have selected: {{objectData}}</h3>
        </div>

        <h3>4. The value in a key-value pair can also be an object:</h3>
        <div ng-controller="objectCtrl">

            <p>Select a car:</p>

            <select ng-model="carSel" ng-options="x for (x, y) in cars">
            </select>

            <h1>You selected: {{carSel.brand}}</h1>
            <h2>Model: {{carSel.model}}</h2>
            <h3>Color: {{carSel.color}}</h3>
        </div>


        <script>
            var app = angular.module('myApp', []);

            app.controller('myCtrl', function ($scope) {
                $scope.names = ["HTML", "CSS", "JavaScript"]
            });

            app.controller('myCars', function ($scope) {
                $scope.cars = [
                    { model: "Tata Harrier", color: "black" },
                    { model: "XUV-700", color: "white" },
                    { model: "Safari", color: "Red" }
                ]
            });

            //object data
            app.controller('objCtrl', function ($scope) {
                $scope.cars = {
                    //key value pair
                    car01: "Ford",
                    car02: "Fiat",
                    car03: "Volvo"
                }
            });

            app.controller('objectCtrl', function ($scope) {
                $scope.cars = {
                    car01: { brand: "Ford", model: "Mustang", color: "red" },
                    car02: { brand: "Fiat", model: "500", color: "white" },
                    car03: { brand: "Volvo", model: "XC90", color: "black" }
                }
            });
        </script>
</body>

</html>