<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <h1>AngularJS Services :-</h1>
    <p>i. In AngularJS, a service is a function, or object, that is available for, and limited to, your AngularJS
        application.</p>
    <p>ii. AngularJS has about 30 built-in services. One of them is the $location service.</p>

    <h3>1. $location service</h3>
    <p>The $location service has methods which return information about the location of the current web page:</p>
    <div ng-controller="myCtrl">
        <p>The url of this page is:</p>
        <h4>{{myUrl}}</h4>
    </div>

    <h3>2. The $http Service:-</h3>
    <p>The $http service is one of the most common used services in AngularJS applications. The service makes a request
        to the server, and lets your application handle the response.</p>
    <div ng-controller="myCtrl">

        <p>Today's welcome message is:</p>

        <h1>{{myWelcome}}</h1>

    </div>

    <h3>3. The $timeout Service</h3>
    <p>i. The $timeout service is AngularJS' version of the window.setTimeout function.</p>
    <p>ii. The $timeout service runs a function after a specified number of milliseconds.</p>
    <div ng-controller="timeoutCtrl">
        <p>The header will change after two seconds</p>
        <h3>{{myHeader}}</h3>
    </div>

    <h3>4. The $interval Service :-</h3>
    <p>i. The $interval service is AngularJS' version of the window.setInterval function.</p>
    <p>ii. The $interval service runs a function every specified millisecond.</p>
    <div ng-controller="intervalCtrl">
        <h3>The time is : {{theTime}}</h3>
    </div>


    <h3>5. Create Your Own Service</h3>
    <p>To create your own service, connect your service to the module:</p>
    <div ng-controller="ownCtrl">
        <p>The hexadecimal value of 255 is:</p>
        <h3>{{hex}}</h3>
    </div>

    <h3>6. Use a Custom Service Inside a Filter</h3>
    <p>Once you have created a service, and connected it to your application, you can use the service in any controller,
        directive, filter, or even inside other services.</p>
    <div ng-app="myApp">
        Convert the number 255, using a custom made service inside a custom made filter:

        <h1>{{255 | myFormat}}</h1>

    </div>

    <!-- You can use the filter when displaying values from an object, or an array: -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>Use a filter when displaying the array [255, 251, 200]:</p>

        <ul>
            <li ng-repeat="x in counts">{{x | myFormat}}</li>
        </ul>
    </div>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $location) {
            $scope.myUrl = $location.absUrl();
        });

        //$http service 
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("welcome.htm").then(function (response) {
                $scope.myWelcome = response.data;
            });
        });

        //3. The $timeout Service
        app.controller("timeoutCtrl", function ($scope, $timeout) {
            $scope.myHeader = "Hello World";
            $timeout(function () {
                $scope.myHeader = "I am learning Angular JS";
            }, 2000);
        });

        //4. The $interval Service
        app.controller("intervalCtrl", function ($scope, $interval) {
            $scope.theTime = new Date().toLocaleTimeString();

            $interval(function () {
                $scope.theTime = new Date().toLocaleTimeString();
            }, 1000);
        });

        //5. Create Your Own Service
        app.service('hexafy', function () {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });
        app.controller('ownCtrl', function ($scope, hexafy) {
            $scope.hex = hexafy.myFunc(255);
        });


        //Use a Custom Service Inside a Filter:-
        // app.service('hexafy', function () {
        //     this.myFunc = function (x) {
        //         return x.toString(16);
        //     }
        // }); used this service already written in above

        app.filter('myFormat', ['hexafy', function (hexafy) {
            return function (x) {
                return hexafy.myFunc(x);
            };
        }]);

        //use the filter when displaying values from an object, or an array:

        app.service('hexafy', function () {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });
        app.filter('myFormat', ['hexafy', function (hexafy) {
            return function (x) {
                return hexafy.myFunc(x);
            };
        }]);
        app.controller('myCtrl', function ($scope) {
            $scope.counts = [255, 251, 200];
        });


    </script>



</body>

</html>