<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS SQL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <h1>AngularJS SQL :-</h1>
    <p>AngularJS is perfect for displaying data from a Database. Just make sure the data is in JSON format.</p>

    <h3>1. Fetching Data From a PHP Server Running MySQL</h3>
    <div ng-app="myApp">

        <div ng-controller="myCtrl">
            <table>
                <tr ng-repeat="x in names">
                    <td>{{x.Name}}</td>
                    <td>{{x.Country}}</td>
                </tr>
            </table>
        </div>
    </div>



    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $http) {
            $http.get("customers.php").then(function (response) {
                $scope.names = response.data.records;
            })
        })
    </script>



</body>

</html>