<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Tables</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<style>
    /* 2. Displaying with CSS Style:- */
    table,
    th,
    td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        margin: auto;
    }

    table tr:nth-child(odd) {
        background-color: rgb(209, 253, 174);
    }

    table tr:nth-child(even) {
        background-color: rgb(254, 255, 169);
    }
</style>

<body>
    <h1>AngularJS Tables :-</h1>
    <p>The ng-repeat directive is perfect for displaying tables.</p>
    <div ng-app="myApp">
        <h3>1. Displaying data in tables</h3>
        <div ng-controller="myCtrl">
            <table>
                <tr ng-repeat="x in names">
                    <td>{{x.Name}}</td>
                    <td>{{x.Country}}</td>
                </tr>
            </table>
        </div>

        <h3>2. Displaying with CSS Style:-</h3>


        <h3>3. Display with orderBy Filter:-</h3>
        <h3>4. Display with uppercase Filter(Country)</h3>
        <div ng-controller="myCtrl">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                </tr>

                <tr ng-repeat="x in names | orderBy:'Country'">
                    <td> {{x.Name}}</td>
                    <td>{{x.Country | uppercase}}</td>
                </tr>
            </table>
        </div>

        <h3>5. Display the Table Index ($index) :-</h3>
        <p>To display the table index, add a "td" with $index: </p>
        <div ng-controller="myCtrl">
            <table>
                <tr ng-repeat="x in names">
                    <td>{{$index +1}}</td>
                    <td>{{x.Name}}</td>
                    <td>{{x.Country}}</td>
                </tr>
            </table>
        </div>

        <h3>6. Using $even and $odd :-</h3>
        <div ng-controller="myCtrl">
            <table>
                <tr ng-repeat="x in names">
                    <td ng-if="$odd" style="background-color:rgb(142, 142, 233) ;">{{x.Name}}</td>

                    <td ng-if="$even">{{x.Name}}</td>

                    <td ng-if="$odd" style="background-color:rgb(142, 142, 233) ;">{{ x.Country }}</td>
                    <td ng-if="$even"> {{ x.Country }}</td>

                </tr>
            </table>
        </div>
    </div>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $http) {
            $http.get("customers.php").then(function (response) {
                $scope.names = response.data.records;
            })
        })
    </script>

</body>

</html>