<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- angular link -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- bootstrap 3 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* 2. Displaying with CSS Style:- */
        table,
        th,
        td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding-left: 20px;
            padding-bottom: 10px;
            /* margin: auto; */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-center" href="#"><b>Todo List</b> </a>
            </div>
        </div>
    </nav>

    <div ng-app="todolist" class="container bg-success">
        <h3 class="text-center">Todo List</h3>
        <div ng-controller="myCtrl">



            <div class="input-group ">
                <input type="text" class="form-control  " placeholder="Write items name here.."
                    aria-describedby="basic-addon2" ng-model="addMe">

                <span class="input-group-btn">
                    <button class=" btn btn-success " id="basic-addon2" ng-click="addTask()">Add
                        Items</button>
                </span>
            </div>
            <table>
                <tr>
                    <th>
                        <h3>Sl.</h3>
                    </th>
                    <th>
                        <h3>List Of Task</h3>
                    </th>
                    <th>
                        <h3>Delete</h3>
                    </th>
                </tr>
                <tr ng-repeat="(key, value) in task">
                    <td>{{$index+1}}</td>
                    <td>{{value}}</td>
                    <!-- <td>{{key}}</td> -->
                    <!-- delete task -->
                    <td><button class=" btn btn-danger " id="basic-addon2" ng-click="DelTask(key)">Delete
                        </button></td>
                    <!-- edit task -->
                    <!-- <td><button class=" btn btn-danger " id="basic-addon2" ng-click="EditTask(key)">Delete
                        </button></td> -->
                </tr>
            </table>
        </div>

    </div>
    <script>
        var app = angular.module("todolist", []);

        app.controller("myCtrl", function ($scope) {

            //display task by storing value of local storage in task variable
            $scope.task = localStorage;

            //add task to localStorage
            $scope.addTask = function () {
                var key = $scope.addMe + localStorage.length + 1;

                localStorage.setItem(key, $scope.addMe);

                //reset ng-model
                $scope.addMe = "";
            }

            //delete Task
            $scope.DelTask = function (del) {
                // $scope.key = Object.keys($scope.task);
                // var key = $scope.key.splice(del, 1);
                console.log(del);
                localStorage.removeItem(del);

            }

            // edit task:-
            // $scope.EditTask=function(edit){

            // }

        })

    </script>

</body>

</html>